<!--
  Этот шаблон имеет доступ к внешним переменным `_a` - словарь с параметрами
  действия `action` и функции рисования бутстрап глифа `glyph`.
-->
{% if data.get('action_to_edit', None) != _a['id'] %}
  <div class="btn-group">
    <button type="button" class="btn btn-primary">
      {% raw glyph(_a['icon']) %}
      {{ _a.get('title', '') or "--- NOT SET ---" }}
    </button>
    <button type="button" class="btn btn-primary dropdown-toggle"
            data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
      <span class="caret"></span>
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="?do=edit&action_id={{ _a['id'] }}">
        {% raw glyph('pencil') %} Edit
      </a></li>
      <li><a href="?do=move_left&action_id={{ _a['id'] }}">
        {% raw glyph('arrow-left')  %} Move left
      </a></li>
      <li><a href="?do=move_right&action_id={{ _a['id'] }}">
        {% raw glyph('arrow-right') %} Move right
      </a></li>
      <li role="separator" class="divider"></li>
      <li><a href="?do=delete&action_id={{ _a['id'] }}">
        {% raw glyph('trash') %} Delete
      </a></li>
    </ul>
  </div>

{% else %}

{#############################################################################}

  {# To automatically occupy the whole line in the form and move other buttons
     up and down. #}
  <div class="col-md10 dima-mt-f"><div class="container-fluid well">

  <div class="form-horizontal">
    {# ID (disabled, just to show it). #}
    <div class="form-group">
      <label for="id_nik" class="col-sm-2 control-label">ID: </label>
      <div class="col-sm-10">
        <input type="text"
               name="--- not used, disabled fields do not send data ---"
               id="id_nik"
               class="form-control"
               value="{{ _a["id"] }}"
               disabled>
      </div>
    </div>

    {# Короткое название для кнопок. #}
    <div class="form-group">
      <label for="id_title" class="col-sm-2 control-label">Заголовок: </label>
      <div class="col-sm-10">
        <input type="text"
               name="action.title"
               id="id_title"
               class="form-control"
               autocomplete="off"
               value="{{ _a.get("title", "") }}"
               placeholder="Короткий заголовок (для кнопок и т.п.)"
               autofocus>
      </div>
    </div>

    {# Действие на переходе. #}
    <div class="form-group">
      <label for="id_nodes" class="col-sm-2 control-label">Действие на переходе:</label>
      <div class="col-sm-2">
        {# Existing nodes as drop-down lists. #}
        <label class="sr-only" for="exampleInputEmail3">Название</label>
        <input type="text" class="form-control" id="action1" placeholder="Title">
      </div>
      <div class="col-sm-4">
        {# Action. #}
        <div class="input-group">
          <div class="input-group-addon">
            {% raw glyph("wrench", add_space=False) %}
          </div>
          <div>
            <label class="sr-only" for="exampleInputEmail3">Название</label>
            <input type="text"
                   class="form-control"
                   id="action1"
                   name="action.the_action"
                   placeholder="Action">
          </div>
          <input type="hidden" name="do" value="save_edited_simple_action">
          <input type="hidden" name="action.id" value="{{ _a["id"] }}">
        </div>
      </div>
    </div>
  </div>

  </div></div>

 {% end %}
