<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ action.get("title", "ACTION TITLE IS NOT DEFINED YET") }}</title>

    <meta name="description" content="Editor for the simple quest transition.">
    <meta name="author" content="Dmitry V. Romanov">

    <link href="{{ static_url("bootstrap-3.3.7/css/bootstrap.min.css") }}" rel="stylesheet">
  </head>

<body class="container-fluid">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <h1>Редактор действия: простой выбор</h1>
    </div>
  </div>

  <form method="POST" class="form-horizontal">
    <div class="form-group">
      <label for="id_nik" class="col-sm-2 control-label">ID: </label>
      <div class="col-sm-10">
        <input type="text"
               name="id"
               id="id_nik"
               class="form-control"
               value="{{ action["id"] }}"
               disabled>
      </div>
    </div>

    <div class="form-group">
      <label for="id_title" class="col-sm-2 control-label">Заголовок: </label>
      <div class="col-sm-10">
        <input type="text"
               name="title"
               id="id_title"
               class="form-control"
               autocomplete="off"
               value="{{ action.get("title", "") }}"
               placeholder="Короткий заголовок (для кнопок и т.п.)">
      </div>
    </div>

    <div class="form-group">
      <label for="id_nodes" class="col-sm-2 control-label">Ноды для перехода в:</label>
      <div class="col-sm-2">
        {# Existing nodes as drop-down lists. #}
        <label class="sr-only" for="exampleInputEmail3">Название</label>
        <input type="text" class="form-control" id="action1" placeholder="Title">
      </div>
      <div class="col-sm-3">
        {# Existing nodes as drop-down lists. #}
        <div class="input-group">
          <div class="input-group-addon">
            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
          </div>
          <select class="form-control"
                  name="nodes"
                  id="id_nodes">
          {% for num, node in enumerate(nodes.values()) %}
          {# TODO: rename `nik` to `node_id`. #}
            <option>[{{ node["nik"] }}] {{ node["title"] }}"</option>
          {% end %}
          </select>
        </div>
      </div>
      <div class="col-sm-4">
        {# Action. #}
        <div class="input-group">
          <div class="input-group-addon">
            <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
          </div>
          <div>
            <label class="sr-only" for="exampleInputEmail3">Название</label>
            <input type="text" class="form-control" id="action1" placeholder="Action">
          </div>
        </div>
      </div>
      <div class="col-sm-1">
        {# Action. #}
        <div class="input-group">
          <button type="button" class="btn btn-success">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          </button>
        </div>
      </div>
    </div>


    {# New node creation. #}
    <div class="form-group">
      <label for="id_node_make_new" class="col-sm-2 control-label">Сделать новую локацию:</label>
      <div class="col-sm-4 col-sm-offset-2">
        <div class="input-group">
          <input type="text"
                 class="form-control"
                 name="make_new_node"
                 id="id_node_make_new"
                 value=""
                 autocomplete="off"
                 placeholder="Введите метку новой ноды (in English, a variable name)">
          <span class="input-group-btn">
            <button class="btn btn-success" type="button">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              &nbsp;
              Добавить
            </button>
          </span>
        </div>
      </div>
    </div>

    <hr />
    <div class="row">
      <div class="col-sm-offset-2 col-sm-4">
        <button type="submit" class="btn btn-success">Сохранить</button>
        <a href="/game_node_editor/{{ action["node_id"] }}">
          <button type="button" class="btn btn-link">Вернуться</button>
        </a>
      </div>
    </div>

    {% module xsrf_form_html() %}
  </form>

  <script src="{{ static_url("jquery.min.js") }}"></script>
  <script src="{{ static_url("bootstrap-3.3.7/js/bootstrap.min.js") }}"></script>
</body>
</html>
