<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Tornado Chat Demo</title>

    <!-- Bootstrap -->
    <link href="{{ static_url("bootstrap-3.3.7/css/bootstrap.min.css") }}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="{{ static_url("chat.css") }}" type="text/css">
  </head>
  <body class="container">
    <h1>Добро пожаловать в проект "Таинственный остров"!</h1>
    <p>
      При столкновении с внешним миром человеку приходится полагаться только
      на свой ум, знания, накопленный опыт и на товарищей &mdash; будь то
      экспедиция, работа инженера, принимающего силы природы на свои изделия,
      или работа космонавта.
    </p>
    <p>
      Для таких людей не представляет проблемы с помощью часов и палки,
      воткнутой в песок, определить широту и долготу места крушения своего
      самолёта. Из такого же теста сделан и космонавт Гордон Купер:
      <blockquote>
      <p>
        В последнем из полетов серии Mercury в корабле Гордона отказала
        электроника. Вся. Полностью. Не работали ни коррекция направления,
        ни контроль двигателей, ни даже приборы, которые показывали бы ему,
        в какую сторону он летит. Единственное, что продолжало работать – это
        радио, подключенное напрямую к батареям питания внутри падающей мёртвой
        жестянки.
      </p>

      <p>
        Связавшись с астронавтом Джоном Гленом, Купер рассчитал
        параметры входа, имея меньше инструментов, чем сейчас есть у вас –
        перед отключением электроника показала, что капсула начала наполняться
        углекислым газом.
      </p>

      <p>
        Сориентировав окно капсулы в сторону звезд, Купер нанес на него
        отметки и стал управлять ускорителями, дотягиваясь и вручную открывая
        и закрывая топливные клапаны, используя только наручные
        часы для замера времени работы. Необходимые сроки работы он
        считал в уме.
      </p>

      <p>
        Интересна реакция самого Купера на этот смертельно опасный
        математический тест: "…ну, это то, что мы все время хотели попробовать
        сделать. Так что у меня просто появилась возможность сделать то, что
        всегда хотелось."
      </p>

      <footer>
        "Космонавты, которые намного круче чем любой герой боевика"
        <cite title="Source Title">[https://habr.com/post/168937/]</cite>
      </footer>
      </blockquote>
    </p>

    <p>
      Ниже вы можете самостоятельно пройти полный приключений путь, описанный
      в книге Жюля Верна "Таинственный остров", чтобы ощутить суть такого
      выбора &mdash; на себе.
    </p>
    <ul>
      <li><a href="/game_node/0_plan">Таинственный остров</a></li>
      <li><a href="/graph">Граф квеста</a></li>
    </ul>

    <p class="modal-footer">P.S. Ключевой вклад в разработку квеста внесла
      Исаева Виктория Владимировна: ссылка на портфолио.
    </p>

    <script src="{{ static_url("jquery.min.js") }}" type="text/javascript"></script>
    <script src="{{ static_url("bootstrap-3.3.7/js/bootstrap.min.js") }}" type="text/javascript"></script>
  </body>
</html>
