<!DOCTYPE html>
<!--
  That is template for a quest step. Body of the quest is taken from other
  folder and is inserted into the quest placeholder.
-->
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Tornado Chat Demo</title>

    <!-- Bootstrap -->
    <link href="{{ static_url("bootstrap-3.3.7/css/bootstrap.min.css") }}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="{{ static_url("chat.css") }}" type="text/css">

    <style>
      body {
        /* Padding is required due to fixed navbar
           [http://getbootstrap.com/components/#navbar-fixed-top] */
        /*padding-top: 70px;*/
      }

      a.btn {
        width: 100%;
        margin-bottom: 5px;
        font-size: 125%;
      }
    </style>
	<script type="text/javascript"
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
  </head>
  <body class='container-fluid'>
    <div class='row'>
      <div class='col-md-12'>
        <h2>Добро пожаловать!</h2>
        <p class='lead'>Здесь вы можете зарегистрироваться и начать урок!</p>
      </div>
      <div class='col-sm-4 col-sm-offset-1'>
        <a href='introduction?name=Иван' class='btn btn-primary'>Иван</a>
        <a href='introduction?name=Мария' class='btn btn-primary'>Мария</a>
      </div>
      <div class='col-sm-4 col-sm-offset-1'>
        <a href='introduction?name=Харитон' class='btn btn-primary'>Харитон</a>
        <a href='introduction?name=Алия' class='btn btn-primary'>Алия</a>
      </div>
    </div>
    <script src="{{ static_url("jquery.min.js") }}" type="text/javascript"></script>

    <script src="{{ static_url("bootstrap-3.3.7/js/bootstrap.min.js") }}" type="text/javascript"></script>
  </body>
</html>
