<!DOCTYPE html>
<!--
  That is template for a quest step. Body of the quest is taken from other
  folder and is inserted into the quest placeholder.
-->
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Tornado Chat Demo</title>

    <!-- Bootstrap -->
    <link href="{{ static_url("bootstrap-3.3.7/css/bootstrap.min.css") }}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="{{ static_url("chat.css") }}" type="text/css">

    <style>
      body {
        /* Padding is required due to fixed navbar
           [http://getbootstrap.com/components/#navbar-fixed-top] */
        /*padding-top: 70px;*/
      }

      a.btn {
        width: 100%;
        margin-bottom: 5px;
        font-size: 125%;
      }
    </style>
  </head>
  <body class='container-fluid'>
    <div class='row'>
      <div class='col-md-12'>
        <h2>Добро пожаловать в ЦУП</h2>
        <p class='lead'>Время: <span id='time'>00:00:00</span></p>
      </div>
      <div id='minimap' class='col-sm-4 col-sm-offset-1'>
      </div>
    </div>
    <script src="{{ static_url("jquery.min.js") }}" type="text/javascript"></script>

    <script src="{{ static_url("bootstrap-3.3.7/js/bootstrap.min.js") }}" type="text/javascript"></script>

    <script type="text/javascript">
      function getCookie(name) {
        var r = document.cookie.match("\\b" + name + "=([^;]*)\\b");
        return r ? r[1] : undefined;
      }

      function pull() {
        var args = {"_xsrf": getCookie("_xsrf")};

        $.ajax({
          url: "/a/teacher", type: "GET", dataType: "text",
          data: $.param(args), success: function(response) {
            response = eval("(" + response + ")")
            var p = response.pupils,
                res = "";
            for (var i = 0 ; i < p.length ; i++) {
              res += "<b>" + p[i][0] + "</b>: " + p[i][1] + "<br/>";
            }
            $("#minimap").html(res);
          },
          error: function (response) {
            console.log('cannot pull new pupils...')
          }
        })
      }


      function pad(i) {
        return (i < 10) ? "0" + i : "" + i;
      }

      function printTime() {
        var today = new Date(),
            h = pad(((today.getHours() + 11) % 12 + 1)),
            m = pad(today.getMinutes()),
            s = pad(today.getSeconds());
        $("#time").text(h + ":" + m + ":" + s)
        pull();

        setTimeout(printTime, 300);
      }

      $(printTime);
    </script>
  </body>
</html>
